<div id="container-contact-page">
  <div class="contact-image animate__animated animate__slideInTop">
    <img [ngSrc]="dataContactPage.image.src"
         [alt]="dataContactPage.image.alt"
         height="400"
         width="400">
  </div>
  <div class="contact-info">
    <h1 class="font-60 animate__animated animate__slideInTop">
      <div class="title-contact-page">
        <span *ngFor="let contact of dataContactPage.title.contact">{{ contact }}</span>
      </div>
      <div class="title-contact-page">
        <span *ngFor="let action of dataContactPage.title.action">{{ action }}</span>
      </div>
    </h1>
    <span class="description-contact-page animate__animated animate__slideInTop animate__delay-1s">
      {{ dataContactPage.description }}
    </span>
    <div class="contact-details animate__animated animate__slideInBottom animate__delay-2s">
      <a [href]="dataContactPage.linkedinUser" target="_blank">
        <img ngSrc="assets/linkedin.png" alt="LinkedIn" height="55" width="55">
      </a>
      <a [href]="'mailto:' + dataContactPage.emailUser">
        <img ngSrc="assets/email.png" alt="Email" height="60" width="60">
      </a>
      <a [href]="dataContactPage.githubUser" target="_blank">
        <img ngSrc="assets/skills/github.png" alt="GitHub" height="60" width="60">
      </a>
    </div>
  </div>
</div>
