#container-contact-page {
  .contact-image {
    img {
      max-width: 100%;
    }
  }

  .contact-info {
    max-width: 35%;
    cursor: default;
    margin-left: 100px;

    .description-contact-page {
      margin: 35px 0;
    }
  }
}
