<div id="background-home-page">
  <img [ngSrc]="homePageData.backgroundImage.src"
       [alt]="homePageData.backgroundImage.alt"
       [title]="homePageData.backgroundImage.alt"
       fill>
</div>
<div id="container-home-page">
  <div class="base-info-home-page animate__animated animate__fadeIn">
    <h1 class="font-60">
      <div class="title-home-page">
        <span *ngFor="let frontEnd of homePageData.title.frontEnd">{{ frontEnd }}</span>
      </div>
      <div class="title-home-page">
        <span *ngFor="let software of homePageData.title.software">{{ software }}</span>
      </div>
      <div class="title-home-page">
        <span *ngFor="let developer of homePageData.title.developer">{{ developer }}</span>
      </div>
    </h1>
    <div class="description-home-page animate__animated animate__fadeInUp animate__delay-1s">
      <span *ngFor="let paragraph of homePageData.description">{{ paragraph }}</span>
    </div>
    <button class="button-about-me-home-page animate__animated animate__fadeInUp animate__delay-2s" (click)="toggle()">
      {{ homePageData.aboutMe }}
      <mat-icon>
        {{ isOpen ? 'keyboard_arrow_down' : 'chevron_right' }}
      </mat-icon>
    </button>
  </div>
  <div class="image-home-page floating">
    <img [ngSrc]="homePageData.mainImage.src"
         [alt]="homePageData.mainImage.alt"
         [title]="homePageData.mainImage.alt"
         fill>
  </div>
</div>
<div id="icon-home-page">
  <img [ngSrc]="homePageData.iconImage.src"
       [alt]="homePageData.iconImage.alt"
       [title]="homePageData.iconImage.alt"
       fill>
</div>
