#container-about-page {
  .about-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      filter: blur(4px);
      opacity: 0.3;
      border-radius: 150px;
    }
  }

  .about-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    padding: 35px;

    .about-box {
      width: 100%;
      max-width: 800px;

      .subtitle-about-page {
        padding: 20px 0;
        font-family: var(--font-secondary), sans-serif;
        font-size: var(--font-size-medium);
        line-height: 24px;
        color: var(--description-color);
      }
    }

    .description-about-page {
      max-width: 50%;

      span {
        display: block;
        margin-bottom: 15px;
      }
    }
  }
}
