<div id="container-skill-page">
  <h1 class="font-60 animate__animated animate__slideInBottom">
    <div class="title-skill-page">
      <span *ngFor="let skills of textPageSkill.title.skills">{{ skills }}</span>
    </div>
    <div class="title-skill-page">
      <span>&</span>
    </div>
    <div class="title-skill-page">
      <span *ngFor="let experiences of textPageSkill.title.experiences">{{ experiences }}</span>
    </div>
  </h1>

  <div class="description-skill-page animate__animated animate__slideInTop animate__delay-0.5s">
    <span> {{ textPageSkill.description[0] }} </span>
    <span> {{ textPageSkill.description[1] }} </span>
    <span>
      {{ textPageSkill.description[2] }}
      <a href="{{textPageSkill.socialNetworks.link}}" target="_blank" rel="noopener noreferrer">
        {{ textPageSkill.socialNetworks.name }}
      </a>
      {{ textPageSkill.description[3] }}
    </span>
  </div>

  <div class="skills-page">
    <img *ngFor="let skill of skills; let i = index"
         [ngClass]="'animate__animated animate__slideInTop'"
         [ngStyle]="{'animation-delay': (i * 0.1) + 's'}"
         [ngSrc]="skill.src"
         [alt]="skill.alt"
         height="70" width="70">
  </div>
</div>
