:root {
  --primary-bg-color: rgb(20, 20, 22);
  --text-color: white;
  --font-main: "Source Code Pro";
  --font-secondary: "Source Sans Pro", sans-serif;
  --highlight-color: #04b2c6;
  --description-color: #D3D3D3;
  --button-height: 30px;
  --font-size-large: 39px;
  --font-size-medium: 18px;
  --font-size-small: 40px;
}

.fp-watermark {
  display: none !important;
}
