@import '@angular/material/prebuilt-themes/indigo-pink.css';

:root {
  //Color
  --primary-bg-color: rgb(20, 20, 22);
  --text-color: white;
  --highlight-color: #04b2c6;
  --subitle-color: rgba(211, 211, 211, 0.65);

  //Font
  --font-main: "Source Code Pro";
  --font-secondary: "Source Sans Pro";

  //Desktop
  --font-size-large: 40px;
  --font-size-medium: 18px;
  --font-size-small: 16px;

  //Mobile
  --font-size-large-mobile: 24px;
  --font-size-medium-mobile: 16px;
  --font-size-small-mobile: 14px;
}

html, body {
  overflow: hidden !important;
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
  /* IE 10+ */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}

/* Chrome, Safari e Edge */
::-webkit-scrollbar {
  display: none;
}

// FullPage
.fp-watermark,
.hidden {
  display: none !important;
}

.fp-slidesNav.fp-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fp-arrow {
  position: absolute;
  top: 53% !important;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
}

.fp-arrow.fp-prev {
  left: 5%;
  border-width: 20px 18px 20px 0 !important;
  border-color: transparent #04b2c6 transparent transparent !important;
}

.fp-arrow.fp-next {
  right: 5%;
  border-width: 20px 0 20px 16px !important;
  border-color: transparent transparent transparent #04b2c6 !important;
}

@media (max-width: 768px) {
  .fp-arrow.fp-next {
    margin-right: 30px;
  }

  .fp-arrow.fp-prev {
    border-width: 14px 12px 14px 0 !important;
    border-color: transparent #04b2c6 transparent transparent !important;
  }

  .fp-arrow.fp-next {
    border-width: 14px 0 14px 10px !important;
    border-color: transparent transparent transparent #04b2c6 !important;
  }
}
